# Tabular models

In [0]:
from fastai.tabular import *

Tabular data should be first loaded into a Pandas `DataFrame`. You can use it with a lot of different sources!

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

We have to distinguish between categorical and numerical variables here (for categorical variables, we’re going to be using something called embeddings; and for continuous variables, they could just be sent into the neural net just like pixels in a neural net can). 

We also have to write a list of the "transformations" to be applied in pre-processing. In this case we'll apply `FillMissing` (fill NA values with the median of the column), `Categorify` (translate categorical columns into pandas categories) and `Normalize` (transform numerical data to have a mean of 0 and std dev of 1). Normalization is always important in NNs, because it helps them a lot.

Same processing we apply to training set must be applied to validation and test sets too. The fastai library manages it all by itself.

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

Note: `path` waits the path that you’re going to use to save models and intermediate steps.

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           # We use next line to select validation subset range (useful when we have some structure in the data)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [0]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [0]:
learn.fit(1, 1e-2)

## Inference

In [0]:
row = df.iloc[0]

In [0]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.4402, 0.5598]))